.loginPainel{
    width: 400px;
    height: 300px;
    margin-left: 38%;
    margin-top: 10%;
    margin-right: 33%;
    padding: 10px;  
    box-shadow: 5px 7px 16px 8px #888888;
}

.btn-login{
    background-color: #9999ff;
    color: #fff;
    float: right;
    bottom: 0;
}
.btn-signup{
    background-color: #cc99ff;
    color: #fff;    
    float: right;
    bottom: 0;
    margin-right: 5px;

}
.title{
    color: #666666;
}
.label{
    color: #999999;
}
